@media screen and (min-width: 1440px) {
    .works__card{
        .hidden{
            opacity: 1;
            transition: unset;
        }
        
        .fade-left {
            transform: unset;
        }
        
        .fade-right {
            transform: unset;
        }
        
        .fade-top {
            transform: unset;
        }
        
        .fade-bottom {
            transform: unset;
        }
    }
}

.hidden{
    opacity: 0;
    transition: all .6s;
}

.fade-left{
    transform: translateX(-50px);
}

.fade-right{
    transform: translateX(50px);
}

.fade-top{
    transform: translateY(-50px);
}

.fade-bottom{
    transform: translateY(50px);
}

.show{
    opacity: 1;
    transform: translate(0);
}
