.mobile-nav{
    width: 100vw;
    position: absolute;
    top: 0px;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    transition: background-color .5s, box-shadow .5s, position 0s .5s;

    @media screen and (min-width: 768px){
        padding: 10px calc(calc(100vw - 700px) / 2);
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.mobile-nav_active{
    background-color: #1e1b1b;
    box-shadow: none;
    position: fixed;
    box-shadow: 0 4px 20px black;

    .mobile-nav__title{
        visibility: visible;
        opacity: 1;
    }
}

#nav-button{
    border: none;
    width: 30px;
    height: 18px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div{
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 8px;
    }
}

.mobile-nav__title{
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

#socials-button{
    border: none;
    background-color: transparent;
    height: 24px;
}

.socials-button__image{
    width: 100%;
    height: 100%;
}

.menu{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: .5s all;
    background-color: transparent;
    height: 100vh;
    top: 0;
    z-index: 10;

    &-inner{
        position: absolute;
        inset: 0;
        background-color: #1e1b1b;
        overflow: hidden;
    }
}

.menu_nav{
    width: 48%;
    left: 0;
    filter: drop-shadow(4px 0 20px black);

    .menu-inner{
        clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    }
}

.menu_socials{
    width: 50%;
    right: 0;
    text-align: right;
    padding-right: 20px;
    filter: drop-shadow(-4px 0 20px black);
    
    .menu-inner{
        clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .close-button{
        left: 20%;
    }
}

.close-button{
    border: none;
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: calc(100% - 80px);
    z-index: 5;

    &::before, &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background-color: white;
    }

    &::before{
        transform: rotate(-45deg);
    }
    &::after{
        transform: rotate(45deg);
    }
}

.menu__links{
    list-style: none;
    font-size: 20px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    z-index: 5;
}

.menu_nav li {
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
    }
}

.menu__list-item{
    padding: 20px 0;
    width: 100%;
}

a img{
    width: 20px;
    height: auto;
    margin-right: 8px;
    transform: translateY(2px);
}

.menu__link{
    padding: 20px 0;
    color: white;
    width: 100%;
    text-decoration: none;
}

.menu__link{
    padding-left: 20px;
    text-transform: uppercase;
}
.menu__link.active{
    color: var(--text-color);
}

.menu.active{
    visibility: visible;
    opacity: 1;
}

.github-link{
    position: absolute;
    background-color: white;
    z-index: 5;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

.menu_socials span{
    opacity: .15;
    margin-left: 10px;
    margin-right: 20px;
}

.libs{
    position: absolute;
    z-index: 5;
    color: white;
    opacity: .28;
    text-align: right;
    bottom: 40px;
    right: 20px;

    p{
        margin-top: 10px;
    }
}