.texture{
    position: absolute;
    display: inline-block;
    width: 200vw;
    max-width: 1440px;
    height: 10px;
    z-index: 4;
    background-color: var(--bg-color);
    left: 0;

    &_header{
        bottom: 0px;
        rotate: 1deg;
        box-shadow: 0 10px 10px #000000bb;
        
        @media screen and (max-width: 1279px) {
            display: none;
        }
    }
    
    &_about-top{
        top: 50px;
        rotate: -5deg;
        box-shadow: 0 -10px 10px #000000bb;

        @media screen and (min-width: 1280px) {
            rotate: -1.2deg;
            top: 70px;
        }
    }

    &_about-bottom{
        top: unset;
        bottom: 225px;
        rotate: 2deg;
        box-shadow: 0 10px 10px #000000bb;
        
        @media screen and (min-width: 1280px) {
            rotate: 1.2deg;
        }
        
        @media screen and (min-width: 1440px) {
            bottom: 170px;
        }
    }

    @media screen and (min-width: 1440px) {
        .inner {
            width: 100%;
            height: 100%;
            position: relative;
    
            &::before {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                top: -20px;
                width: 120px;
                height: 50px;
                background: linear-gradient(to right, #1e1b1b, transparent);
            }
    
            &::after {
                position: absolute;
                content: '';
                display: block;
                right: 0;
                top: -20px;
                width: 120px;
                height: 50px;
                background: linear-gradient(to right, transparent, #1e1b1b);
            }
        }
    }
    
    &_footer{
        top: 0;
        rotate: -2deg;
        box-shadow: 0 -10px 10px #000000bb;

        @media screen and (min-width: 1440px) {
            rotate: -1deg;
            top: -20px;
        }
    }
    
    &_projects-top{
        top: -50px;
        rotate: -2deg;
        box-shadow: 0 -10px 10px #000000bb;
        
        @media screen and (min-width: 1440px) {
            top: -100px;
        }
    }

    &_projects-bottom{
        top: unset;
        bottom: -50px;
        rotate: 2deg;
        box-shadow: 0 10px 10px  #000000bb;

        @media screen and (min-width: 1440px) {
            bottom: -100px;
        }
    }

    &_intro-top{
        top: 0px;
        rotate: 5deg;
        box-shadow: 0 -10px 10px  #000000bb;

        @media screen and (min-width: 1280px) {
            display: none;
        }
    }
    
    &_intro-bottom{
        bottom: 0;
        rotate: -5deg;
        box-shadow: 0 10px 10px  #000000bb;

        @media screen and (min-width: 1280px) {
            display: none;
        }
    }
}
