.intro{
    --rotate: -6deg;

    position: relative;
    color: var(--text-color);
    padding: 120px 22px;

    @media screen and (min-width: 768px) {
        padding: 100px 60px;
    }

    @media screen and (min-width: 1440px) {
        padding: 0 220px;
        margin-top: 150px;
    }
    
}


.intro__header{
    margin-bottom: 95px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 150px;
    }
}

.intro__header-word{
    display: block;
    font-size: 60px;
    transform: rotate(var(--rotate));
    
    @media screen and (min-width: 435px) and (max-width: 767px) {
        font-size: 15vw;
    }

    @media screen and (min-width: 768px) {
        font-size: 100px;
        margin-right: 100px;
    }

    @media screen and (min-width: 850px) and (max-width: 1439px) {
        font-size: 11vw;    
    }

    @media screen and (min-width: 1440px) {
        font-size: 150px;
    }

    &:first-child{
        transform: rotate(var(--rotate)) translate(-25px, 0);
    }

    &:last-child {
        margin-top: 10px;
        transform: rotate(var(--rotate)) translate(25px, 0);
        
        @media screen and (min-width: 435px) and (max-width: 767px) {
            transform: rotate(var(--rotate)) translate(8vw, 0);
        }

        @media screen and (min-width: 768px) {
            transform: rotate(var(--rotate)) translate(78px, 0);
        }
        
        @media screen and (min-width: 850px) and (max-width: 1439px) {
            transform: rotate(var(--rotate)) translate(9vw, 0);
        }

        @media screen and (min-width: 1440px) {
            transform: rotate(var(--rotate)) translate(125px, 0);
        }

        .intro__header-word-accent::after {
            @media screen and (min-width: 1440px) {
                transform: translateY(10px);
            }

            @media screen and (max-width: 1439px) {
                transform: translateY(4px);
            }
        }
    }
}

@keyframes wiggle {
    0%{
        rotate: 0deg;
    }
    33%{
        rotate: -4deg;
    }
    66%{
        rotate: 4deg;
    }
    100%{
        rotate: 0deg;
    }
}

.intro__header-word-accent{
    display: inline-block;
    position: relative;
    color: var(--text-color);

    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: #FF2C2C;
        opacity: 0.55;
    }
}

.wiggle-animation{
    display: inline-block;
}

.intro__header-word:first-child{
    .wiggle-animation{
        animation: wiggle 14s infinite;
    }
}

.intro__header-word:last-child{
    .wiggle-animation {
        animation: wiggle 12s infinite;
        animation-delay: 1s;
    }
}


//нижняя часть 

.intro__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: 0 auto;

    &-link{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        font-size: 16px;
        text-decoration: none;
        color: white;
        transition: all 1s;
        
        &:hover{
            .intro__icon{
                filter:brightness(0) invert(1);
            }

            scale: 1.02;
        }

        span{
            transition: all 1s;
        }

        @media screen and (min-width: 768px) {
            font-size: 26px;
        }
    }

    &-name{
        font-size: 16px;

        @media screen and (min-width: 768px) {
            font-size: 26px;
        }
    }
}

.intro__icon{
    transition: 1s all;
    width: auto;

    @media screen and (max-width: 767px) {
        height: 30px;
    }

    @media screen and (min-width: 768px) {
        height: 40px;
    }
}













