.works{
    padding: 20px;
    
    @media screen and (min-width: 768px) {
        padding: 70px;
    }

    @media screen and (min-width: 1280px) {
        padding: 100px 0;
    }
}

.works__label{
    width: fit-content;
    margin-left: auto;
    color: var(--text-color);
    font-size: 22px;
    margin-bottom: 80px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 220px;
        margin-bottom: 120px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 38px;
        margin-right: 220px;
        margin-bottom: 200px;
    }
}


// section

.works__list{
    position: relative;
    margin: 0 auto;
    
    @media screen and (max-width: 1279px) {
        display: flex;
        flex-direction: column;
        gap: 200px;
        margin-bottom: 200px;
    }

    @media screen and (min-width: 1280px) {
        width: 1200px;
    }

    @media screen and (min-width: 1440px) {
        width: 1300px;
    }
}

@media screen and (min-width: 1280px) {
    .works__card{
        position: absolute;
        inset: 0;
    }
}

//slide 

.card__title{
    margin-top: 150px;
}

.card__content {
    position: relative;
    border-radius: 8px;
    max-height: 600px;
    
    @media screen and (max-width: 1439px) {
        max-width: 600px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1280px) and (max-width: 1439px) {
        &.pc{
            .card__technologies{
                width: 600px;
            }
        }
    }
    
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.mobile, &.tablet {
            height: 500px;
        }

        &.pc{
            height: 380px;

            .card__technologies{
                width: 674px;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }

        &.mobile{
            .card__technologies{
                right: 0;
                bottom: 0;
                top: 0;
                width: 243px;
                left: unset;
            }
            
            .card__links{
                flex-direction: column;
                gap: 30px;
            }

            .card__link{
                font-size: 20px;
            }

            .card__technologies-title{
                font-size: 20px;
                line-height: 1.6;
            }
        }

        &.tablet{
            .card__technologies{
                top: 0;
                bottom: 0;
                width: 453px;
            }

            .card__links{
                margin-top: 150px;
            }
        }

        &_active {
            .card__content_technologies {
                display: none;
            }
        }
    }
}

.card__content{
    &_tech.card__content_active {
        .card__technologies {
            visibility: visible;
            opacity: 1;
        }
    }

    @media screen and (max-width: 1279px){
        &_tech{
            .card__technologies{
                visibility: visible;
                opacity: 1;
            }
            
            .card__image{
                filter: brightness(.3);
            }
        }
    }

    &_active {
        .card__image {
            filter: brightness(.3) !important;
        }

        @media screen and (min-width: 1280px) {
            &:not(.card__content_desc) {
                .card__technologies {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.card__content-item{
    position: absolute;
    visibility: hidden;
    transition: all .4s;
    opacity: 0;
    inset: 0;
    padding: 0 30px;
    
    @media screen and (min-width: 768px) {
        *{
            max-width: 400px;
            margin: 0 auto;
        }
    }
    
    @media screen and (min-width: 1280px) {
        visibility: visible;

        *{
            max-width: 560px;
        }
    }
}

.card__links{
    display: flex;
    margin-top: 55px;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        margin-top: 100px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 100px;
    }
}

.card__link{
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px black;
    transition: opacity .4s;

    &:hover{
        opacity: .9;
        scale: .99;
    }

    &::after{
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        right: 0;
        height: 2px;
        background-color: white;
    }

    @media screen and (min-width: 1280px) {
        font-size: 24px;
    }
}

.card__technologies-title{
    margin-top: 32px;
    text-align: center;
    color: white;

    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 100px;
        font-size: 24px;
    }
}

.card__icons{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }
}

.works__card{
    @media screen and (min-width: 1280px) {
        &:nth-child(2n){
            .card__content{
                margin-left: auto;
            }
        }
        
        &:nth-child(2){
            .card__content{
                margin-right: 150px;
            }
        }
    
        &:nth-child(3){
            .card__content{
                margin-right: auto;
            } 
        }
    }

    @media screen and (max-width: 1279px) {
        &:nth-child(2), &:nth-child(3){
            .card__image:first-child{
                display: none;
            }
        }
    }
}

.card__image{
    transition: all .4s !important;
    object-fit: cover;
    height: 100%;
    border-radius: 8px;

    @media screen and (max-width: 1279px) {
        width: 100%;
        max-width: 650px;
        height: auto;
    }

    @media screen and (min-width: 1280px) {
        &:nth-child(2) {
            display: none;
        }
    }

    @media screen and (min-width: 1280px) and (max-width: 1439px) {
        max-width: 600px;    
    }
}

.card__title{
    color: var(--text-color);
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 1280px) {
        margin-bottom: 80px;
        font-size: 30px;
    }
}

@keyframes pulse-animation {
    0% {
        background-color: #fff;
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    25%{
        background-color: #c7c7c7;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    50%, 100% {
        background-color: #fff;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.card__content_active{
    .card__button{
        opacity: 1;
    }
}

.card__button{
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba($color: #E0E193, $alpha: 1.0);
    border: 1px solid transparent;
    filter: drop-shadow(0 0 2px #1e1b1b);
    transition: all .3s;
    box-shadow: 0px 0px 1px 1px gray;
    animation: pulse-animation 8s infinite;
    opacity: 1;
    visibility: visible;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.card__content_tablet{
    .card__links{
        padding-top: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .card__container{
        margin: 0 auto;
        width: 1200px;
    }

    .works__card{
        &:nth-child(2n){
            .card__container{
                flex-direction: row-reverse;
            }
        }
    }
    
}

@media screen and (min-width: 1440px) {
    .card__container{
        width: 1300px;
    }
}

@media screen and (min-width: 1280px) {
    .swipe-section {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
}

.swipe-section .panel {
    background-color: #1e1b1b;
    
    @media screen and (min-width: 1280px) {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;

        &:not(:first-child){
            top: 100%;
        }
    }

    @media screen and (max-width: 1279px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card__title{
            margin-top: unset;
        }
    }
}

.works__text{
    text-align: center;
    color: #E0E193;
    font-size: 16px;
    line-height: 1.6;
    max-width: 550px;
    
    @media screen and (max-width: 1279px) {
        margin: 0 auto;
        margin-top: 40px;
    }
    
    @media screen and (min-width: 1280px) {
        color: white;
        letter-spacing: 2px;
        width: 550px;
        font-size: 24px;
    }
}

.card__container{
    @media screen and (min-width: 1280px){
        display: flex;
        align-items: center;
    }
}

.works__card:not(:last-child){
    .card__container{
        @media screen and (min-width: 1280px) {
            justify-content: space-between;
        }
    }
}

.works__card:last-child{
    .card__container{
        gap: 0px;
    }
}

[data-aos].card__title, [data-aos].card__content, [data-aos].works__text{
    @media screen and (min-width: 1280px) {
        transform: none !important;
    }
}